APP_NAME=Mhike School

SECRET_KEY=generate_a_secure_key
ACCESS_TOKEN_EXPIRE_MINUTES=30

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=mhike_school

DATABASE_URL=postgresql+asyncpg://postgres:postgres@db:5432/mhike_school

REDIS_URL=redis://redis:6379/0
CELERY_BROKER_URL=redis://redis:6379/1
CELERY_RESULT_BACKEND=redis://redis:6379/2